.DS_Store
*.class
*.log
.cache
.classpath
.project
.lib
.bin
.target

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.settings

# Scala-IDE specific
.scala_dependencies

# IntelliJ
.idea/
.idea_modules/

/ehi-pbk.iml